# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.venv/

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Data 
data.json

# Environemnt variable file
.env

# Testing files
register_test.html
message_test.html