<!DOCTYPE html>
<html>
    <head>
        <title>About 4day</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class = "image">
            <img src="{{ url_for('static', filename='images/logo_png.png') }}" alt="4day">
        </div>
        <div class="container">
            <section class="hero">
                <div class="hero-about">
                    <h1><span>Thank you for your service</span></h1>
                    <p>
                        Hello, I’m Joe. I created this simple service to show appreciation for service members and veterans.
                        It sends a friendly email during long four-day weekends, thanking them for everything they’ve done. While these weekends are relaxing for many, they can feel lonely for some—especially during winter holidays or deployments.
                        My goal is to remind service members and veterans that they’re not forgotten and to wish them a safe, healthy, and meaningful long weekend.
                    </p>
                    <br>
                </div>
                <nav>
                    <div class="nav-links">
                        <a href="{{ url_for('home') }}">home</a>
                        <a href="mailto:4day.reminder@gmail.com">contact</a>
                        <a href="{{ url_for('unsubscribe') }}">unsubscribe</a>
                    </div>
                </nav>
            </section>
        </div>
    </body>
</html>