<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to 4day</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class ="container"> <!-- [Container Start] -->
            <div class = "image">
                <img src="images/logo_png.png" alt="4day">
            </div>
            <section class="hero"> <!-- section starts -->
                <div class="hero-content">
                    <h1>Welcome to <span>4day!</span></h1>
                    <h2><span>Please</span> enter your information</h2>
                    <form action="/submit" method="post">
                        <input type="text" name="name" placeholder="Your Name">
                        <input type="email" name="email" placeholder="Your Email">
                        <button type="submit">Submit</button>
                    </form>
                    <h3>We'll send nothing else.</h3>
                    <h3>No ads, no news, no bs.</h3>
                </div>
                <nav>
                    <div class="nav-links">
                        <a href="about.html">about</a>
                        <a href="mailto:4day.reminder@gmail.com">contact</a>
                    </div>
                </nav>
            </section> <!-- section ends -->
        </div> <!-- [Container End] -->
    </body>
</html>