<!DOCTYPE html>
<html>
    <head>
        <title>Thank you</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class = "image">
            <img src="{{ url_for('static', filename='images/logo_png.png') }}" alt="4day">
        </div>
        <div class="container">
            <section class="hero">
                <div class="hero-about">
                    <h1><span>Thank you for registering and for your service {{ name }}!</span></h1>
                </div>
                <nav>
                    <div class="nav-links">
                        <a href="{{ url_for('home') }}">home</a>
                        <a href="{{ url_for('about') }}">about</a>
                        <a href="mailto:4day.reminder@gmail.com">contact</a>
                    </div>
                </nav>
            </section>
        </div>
    </body>
</html>